.journalForm {
    display: flex;
    flex-basis: 33%;
}

.fieldsetForm {
    display: flex;
    flex-direction: column;
}

#submit {
    margin: 1em 0em 0em 0em;
}

.formLabel {
    margin: 1em 0em 0em 0em;
    font-weight: bold;
}